/code/bin-debug
/code/bin-release
/code/resource/default.thm.json
/code/resource/default.res.json
/code/libs/modules
/code/manifest.json
/code/.wing
/cq9mj/code/bin-debug
/cq9mj/code/bin-release
/cq9mj/code/.wing
/bdz/code/bin-debug
/bdz/code/bin-release
/bdz/code/.wing
